<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
		<appSettings>

			<add key="boothX" value="50" />
			<add key="boothY" value="50" />
	        <add key="boothFountSize" value="10" />

			<add key="itemNumberX" value="60" />
			<add key="itemNumberY" value="75" />
			<add key="itemNumberFountSize" value="8" />

			<add key="itemDescX" value="40" />
			<add key="itemDescY" value="100" />
			<add key="itemDescFountSize" value="8" />

			<add key="priceX" value="40" />
			<add key="priceY" value="150" />
			<add key="priceFountSize" value="10" />

		</appSettings>
		
 
</configuration>